.dashboard-root {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: max-content max-content max-content;
  gap: 8.3% 20%;
  padding: 1rem;
  align-content: space-between;
}

.data-container {
  background: rgba(from var(--mat-sys-surface-container-highest) r g b / 66%);
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--mat-sys-outline);
}

.display-large {
  font-size: calc(var(--mat-sys-display-large-size) * 1.5);
  line-height: calc(var(--mat-sys-display-large-line-height) * 1.5);
  letter-spacing: var(--mat-sys-display-large-tracking);
  font-weight: var(--mat-sys-display-large-weight);
}
.display-medium {
  font-size: calc(var(--mat-sys-display-medium-size) * 1.5);
  line-height: calc(var(--mat-sys-display-medium-line-height) * 1.5);
  letter-spacing: var(--mat-sys-display-medium-tracking);
  font-weight: var(--mat-sys-display-medium-weight);
}
.display-small {
  font-size: calc(var(--mat-sys-display-small-size) * 1.5);
  line-height: calc(var(--mat-sys-display-small-line-height) * 1.5);
  letter-spacing: var(--mat-sys-display-small-tracking);
  font-weight: var(--mat-sys-display-small-weight);
}
.headline-large {
  font: var(--mat-sys-headline-large);
}
.headline-medium {
  font: var(--mat-sys-headline-medium);
}
.weather-icon-and-temp {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-details-table {
  td,
  th {
    text-align: start;
  }
  th {
    padding-inline-end: 2rem;
  }
}
p {
  margin: 0;
}
.weather-icon {
  height: calc(var(--mat-sys-display-large-size) * 1.5);
  width: auto;
  background-color: var(--mat-sys-surface-container-lowest);
  border-radius: 50%;
}
.photographer-avatar {
  border-radius: 50%;
}
.photographer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.photo-metadata {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 1rem;
}
.photo-metadata-icon {
  align-self: start;
  justify-self: center;
}
.photo-metadata-text {
  align-self: center;
}

.bigger-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  line-height: 64px;
  vertical-align: middle;
}

.background-image-progress-bar-container {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 1920px;
  box-sizing: border-box;
  z-index: 1000; // Ensure it appears above other content
}

.bus-departure {
  display: flex;
  gap: 16px;
}

.route-short-name,
.arrival-time {
  flex-shrink: 0;
}

.arrival-time {
  font-weight: bold;
}

.trip-headsign {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

.last-updated-time {
  margin-block-start: 8px;
  text-align: end;
}

.bus-direction {
  margin-block-end: 8px;
}

.bus-icon {
  height: auto;
  width: auto;
  font-size: var(--mat-sys-display-large-size);
  color: var(--mat-sys-primary-fixed-dim);
}

.bus-schedule-progress-bar-container {
  position: relative;
}

.bus-schedule-progress-bar {
  position: absolute;
  bottom: -16px;
}
