.dashboard-root {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 1rem 1rem;
  padding: 1rem;
  align-content: space-between;
}

.data-container {
  background: rgba(from var(--mat-sys-surface-container-highest) r g b / 66%);
  border-radius: 8px;
  padding: 1rem;
}

.display-large {
  font: var(--mat-sys-display-large);
}
.display-medium {
  font: var(--mat-sys-display-medium);
}
.display-small {
  font: var(--mat-sys-display-small);
}
.weather-icon-and-temp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.display-small {
  font: var(--mat-sys-display-small);
}

.weather-details-table {
  td,
  th {
    text-align: start;
  }
  th {
    padding-inline-end: 2rem;
  }
}
p {
  margin: 0;
}
